@keyframes example {
  10% {
    border-color: #f4dbd6;
    border-width: 2px;
  }
  20% {
    border-width: 3px;
    /* border-top-width: 5px; */
    border-color: #f0c6c6;
  }
  30% {
    border-width: 4px;
    /* border-top-width: 5px; */
    border-color: #f5bde6;
  }
  40% {
    border-width: 5px;
    /* border-top-width: 5px; */
    border-color: #c6a0f6;
  }
  50% {
    border-width: 6px;
    /* border-top-width: 5px; */
    border-color: #ed8796;
  }
  60% {
    border-width: 6px;
    /* border-top-width: 5px; */
    border-color: #ee99a0;
  }
  70% {
    border-width: 5px;
    /* border-top-width: 5px; */
    border-color: #f5a97f;
  }
  80% {
    border-width: 4px;
    /* border-top-width: 5px; */
    border-color: #eed49f;
  }
  90% {
    border-width: 3px;
    /* border-top-width: 5px; */
    border-color: #f4dbd6;
  }
  100% {
    border-color: transparent;
  }
}

#box {
  animation-fill-mode: both;
  border: 2px solid transparent;
}

/* @keyframes label { */
/*   0% { */
/*     opacity: 0; */
/*   } */
/*   10% { */
/*     opacity: 1; */
/*   } */
/*   85% { */
/*     opacity: 1; */
/*   } */
/*   95% { */
/*     opacity: 0; */
/*   } */
/* } */
/**/

.animate #box {
  animation: example 1.5s ease;
}

#label {
  /* color: black; */
  opacity: 0;
  /* margin-left: 5px; */
}

/* .animate #label { */
/*   animation: label 1.5s ease; */
/* } */
